html, * {
  color: #002B3E;
  font-family: 'McLaren', cursive;
  box-sizing: border-box;
}

body {
  background: #90C4E3;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F8F5A6;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

h1 {
  font-size: 1rem;
  margin: 0 auto;
}

form {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 3rem;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

label {
  margin: auto auto;
}

input[type=text] {
  border-radius: 4px;
  margin: 0.5rem 2rem 0.5rem 0.5rem;
  width: 2rem;
  padding: 3px;
}

.radio {
  margin-right: 2rem;
}

input[type=submit] {
  border-radius: 4px;
  padding: 5px;
  margin: 0 0 0 1rem;
  background: #e6e6e6;
}

main {
  margin: 0 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2px;
  justify-items: center;
}

.dog {
  display: inline-block;
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.dialog-container {
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(255,255,255,0.55);
}

.dialog {
  z-index: 2;
  position: relative;
  background: #F8F5A6;
  border: 2px solid #002B3E;
  padding: 0;
  max-height: 70vh;
  max-width: 99vw;
}

.dialog img {
  display: block;
  border: 2px solid #F8F5A6;
  margin: 0;
  padding: 0;
  object-fit: contain;
  max-height: 69vh;
  max-width: 98vw;
}

.close {
  font-weight: bold;
  font-size: 2rem;
  color: white;
  position: absolute;
  top: 15px;
  right: 25px;
}

.close:hover {
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  form {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
  }
  form div {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  header {
    flex-direction: column;
  }
}

